*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
:root{
    --cor-letras-1: rgba(51, 64, 77, 1);
}
.a{
    text-decoration: none;
}






.fundo-de-tudo{
    display: flex;
    align-items: center;
    background-color: rgb(249, 249, 249);
}
.fundo-azul-lateral{
    width: 490px;
    height: 100vh;
    display: flex;
    background-color: rgba(51, 64, 77, 1);
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.fundo-azul-lateral h1{
    width: 70%;
    text-align: center;
    color: white;
    font-size: 55px;
    margin-top: -130px;
    margin-bottom: 30px;
}
.area-das-senhas{
    display: flex;
    width: 455px;
    height: 725px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    background-color: #F9F9F9;
    margin-left: 15px;
    margin-right: 15px;
}
.caixa-das-senhas{
    display: flex;
    width: 430px;
    height: 135px;
    align-items: center;
    flex-direction: column;
    background-color: rgba(51, 64, 77,0.15);
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 5px;
}
.caixa-das-senhas h2{
    display: flex;
    font-size: 35px;
    margin-top: 5px;
}
.conjunto-senhas{
    display: flex;
    width: 100%;
    justify-content: space-between;

}
.senha{
    display: flex;
    color: rgb(0, 0, 0);
    align-items: center;
    flex-direction: column;
    margin-left: 30px;
}
.senha h3{
    display: flex;
    font-size: 25px;
    padding: 5px;
}
.senha h4{
    display: flex;
    font-size: 40px;
}
.guiche{
    display: flex;
    color: rgb(0, 0, 0);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 60px;
}
.guiche h5{
    display: flex;
    font-size: 25px;
    padding: 5px;
}
.guiche h6{
    display: flex;
    font-size: 40px;
}






.fundo-senha-principal2 {
    width: 70%;
    height: 725px;
    background-color: rgba(51,64,77,0.20);
    margin-top: 25px;
    margin-left: 70px;
    margin-right: 70px;
    border-radius: 5px;
}
.fe-1 h1{
    padding: 40px;
    font-size: 70px;
    text-align: center;
}
.fe-2 {
    display: flex;
    flex-direction: column;
}
.fe-2 h2 {
    display: flex;
    font-size: 95px;
    justify-content: space-between;
    margin: 20px 150px 20px 150px;
}
.fe-2 span{
    width: 400px;
    text-align: center;
}
/* .conjunto-a{
    display: flex;
    background-color: rgb(255, 137, 137);
}
.senhe{
    display: flex;
}
.guice{
    display: flex;
}*/